<h1>Welcome to the {{model.name}} notification page.</h1>
<p>We are a {{model.details}} dedicated on sending you the best {{model.category}} news and notifications </p>
<h3>How our subscriptions work.</h3>
<ol>
  <blockquote>
    <li>Sign into notifier.</li>
    <li>Click on the subscribe button to subscibe for notifications from {{model.name}}.</li>
  </blockquote>
</ol>
<p>Notifications will be sent via email or sms depending on what package you specified.</p>
<p>for the email subscribers, expect notifications from {{model.email}} whereas phone subscribers get them from {{model.phone}}.</p>
<blockquote>
  {{model.senderemail}} and {{model.phone}} are the official contacts of {{model.name}}. Users are advised to keep off other similar ones because they may be fake.
</blockquote>
<p>Notifications will be sent 3 times a day, In the morning, evening and the afternoon with an exception for serious breaking news that will be notified immediately.</p>
